<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Portland Cognitive Lab</title>

    <!-- Your application must load the Roboto and Material Icons fonts. -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
  </head>

<body class="mdc-theme--background mdc-typography">
  <mwc-drawer hasHeader type="dismissible">
    <span slot="title"><mwc-icon>admin_panel_settings</mwc-icon>admin</span>
    <div class="drawer-content">
            <mwc-list wrapfocus="" innerrole="navigation" innerarialabel="Subject List" itemroles="link" roottabbable="">
                <mwc-list-item id="add-subject" graphic="icon" data-href="/subject/0" role="link" tabindex="0" aria-disable="false">
                    <span>Add Subject</span>
                    <mwc-icon slot="graphic">face</mwc-icon>
                </mwc-list-item>
                <mwc-list-item id="btn-logout" graphic="icon" role="link" tabindex="0" aria-disable="false">
                    <span>Sign Out</span>
                    <mwc-icon slot="graphic">logout</mwc-icon>
                </mwc-list-item>
            </mwc-list>
    </div>
    <div slot="appContent">
        <mwc-top-app-bar-fixed centerTitle>
            <mwc-icon-button slot="navigationIcon" icon="menu"></mwc-icon-button>
            <div slot="title">Portland Cogntive Lab</div>
        </mwc-top-app-bar>
        <div id="content">
        </div>
    </div>
  </mwc-drawer>
  <!-- other HTML -->
  <script src="/dist/bundle.js"></script> 
  <link href="/dist/bundle.css" rel="stylesheet">
</body>
</html>
