<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Portland Cognitive Lab</title>

    <!-- Your application must load the Roboto and Material Icons fonts. -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
  </head>

  <body class="mdc-theme--background mdc-typography">
  <mwc-top-app-bar-fixed centerTitle>
    <div slot="title">Portland Cogntive Lab</div>
    <mwc-icon-button icon="logout" id="btn-logout" slot="actionItems"></mwc-icon-button>
    <div class="mdc-layout-grid" id="content"><!-- content -->
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell">
                <h1 id="logged-in">YOU ARE NOT LOGGED IN!</h1>
            </div>
        </div>
    </div>
  </mwc-top-app-bar-fixed>
  <!-- other HTML -->
  <script src="/dist/bundle.js"></script> 
  <link href="/dist/bundle.css" rel="stylesheet">
  </body>
</html>
